---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
  {%- if page.url and page.url != "/" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    {%- for item in site.hreflangMap %}
    <xhtml:link rel="alternate" hreflang="{{ item.hreflang }}" href="{{ site.url }}{{ item.url }}" />
    {%- endfor %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
